## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
up.time
commit.time
commit.default
dotdir/
clonedir/
.clean_dir
*.hup
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
up.time
commit.time
commit.default
dotdir/
clonedir/
.clean_dir
*.hup
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
